body {
  height: 100vh;
  background-color: #f2f5f5;
}

.headerContainer {
  background-color: white;
  border-bottom: #969a9a solid 1px;
  padding-bottom: 10px;
}

.header {
  background-color: white;
  color: #02cdbd;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
}

.descriptionContainer {
  background-color: white;
}

.description {
  font-size: 19px;
  line-height: 28px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.descriptionText {
  flex: 2;
  margin-right: 30px;
  color: #969a9a;
}

h2 {
  font-size: 32px;
  line-height: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.imgDescription {
  flex: 1;
  width: 350px;
  border-radius: 5px;
  object-fit: cover;
}

.basketEtSections {
  display: flex;
}

.basket {
  background-color: aqua;
  flex: 1;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  flex: 3;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 30px 10px;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mealsTextImg {
  display: flex;
  width: 46%;
  margin: 7px 0px;
  background-color: white;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 160px;
}

h4 {
  color: black;
  font-size: 18px;
  line-height: 15px;
  margin-bottom: 10px;
}

.mealsText {
  color: #969a9a;
  font-size: 14px;
  line-height: 20px;
}

.price {
  font-size: 17px;
  margin-top: 10px;
}

.mealsImg {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  background-color: white;
  object-fit: cover;
}

@media (max-width: 1250px) {
  .mealsTextImg {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .description {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 1200px;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .descriptionText {
    color: #969a9a;
    padding: 30px;
  }

  h2 {
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
  }

  .imgDescription {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }
}
