@font-face {
  font-family: "Stratos Deliveroo Web";
  src: url("./assets/fonts/StratosDeliverooWeb-SemiBold.eot");
  src: url("./assets/fonts/StratosDeliverooWeb-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/StratosDeliverooWeb-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/StratosDeliverooWeb-SemiBold.woff") format("woff"),
    url("./assets/fonts/StratosDeliverooWeb-SemiBold.ttf") format("truetype"),
    url("./assets/fonts/StratosDeliverooWeb-SemiBold.svg#StratosDeliverooWeb-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./assets/fonts/IBMPlexSans-Bold.eot");
  src: url("./assets/fonts/IBMPlexSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/IBMPlexSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/IBMPlexSans-Bold.woff") format("woff"),
    url("./assets/fonts/IBMPlexSans-Bold.ttf") format("truetype"),
    url("./assets/fonts/IBMPlexSans-Bold.svg#IBMPlexSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./assets/fonts/IBMPlexSans.eot");
  src: url("./assets/fonts/IBMPlexSans.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/IBMPlexSans.woff2") format("woff2"),
    url("./assets/fonts/IBMPlexSans.woff") format("woff"),
    url("./assets/fonts/IBMPlexSans.ttf") format("truetype"),
    url("./assets/fonts/IBMPlexSans.svg#IBMPlexSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  height: 100vh;
  background-color: #f2f5f5;
  font-family: IBM Plex Sans;
}

.headerContainer {
  background-color: white;
  border-bottom: #969a9a solid 0.5px;
  padding: 10px 0px;
}

.header {
  background-color: white;
  color: #02cdbd;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 96vw;
}

h1 {
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
}

.descriptionContainer {
  background-color: white;
}

.description {
  font-size: 19px;
  line-height: 28px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;
  justify-content: space-between;
  width: 96vw;
}

.descriptionText {
  margin-right: 30px;
  color: #969a9a;
}

h2 {
  font-size: 32px;
  line-height: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.imgDescription {
  width: 350px;
  border-radius: 5px;
  object-fit: cover;
}

.basketEtSections {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  width: 96vw;
}

.basket {
  background-color: aqua;
  flex: 1;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  flex: 3;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  margin: 30px 10px;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mealsTextImg {
  display: flex;
  width: 49%;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 160px;
  box-sizing: border-box;
}

.mealsTextImg:hover {
  box-shadow: 10px 10px 20px rgb(222, 222, 222);
  cursor: pointer;
}

.textCaché {
  height: 3.6rem;
  overflow: hidden;
}

h4 {
  color: black;
  font-size: 18px;
  line-height: 15px;
  margin-bottom: 10px;
}

.mealsText {
  color: #969a9a;
  font-size: 14px;
  line-height: 20px;
}

.price {
  font-size: 17px;
  margin-top: 10px;
}

.mealsImg {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  background-color: white;
  object-fit: cover;
}

@media (max-width: 1250px) {
  .mealsTextImg {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .description {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 1200px;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .descriptionText {
    color: #969a9a;
    padding: 30px;
  }

  h2 {
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
  }

  .imgDescription {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }
}
